
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1 style="text-align: center">Biz Kimiz</h1>
<font face="Helvetica" size="5">ISUBU Teknik Servis, Akıllı cep telefonu ve Bilgisayar sektörünün önde gelen firmalarının cihazlarına teknik servis hizmeti vermektedir.</font>
<font face="Helvetica" size="5 ">ISUBU Teknik Servis; 25 yılı aşkın hizmet tecrübesi, 13 servis noktası, 500'ün üzerinde tecrübeli personeli ile 35'e yakın markaya hizmet veren Türkiye'nin en büyük yetkili servis ağıdır.</font>
<h1 style="text-align: center">Adres Bilgilerimiz</h1>
<font face="Helvetica" size="5">
    Süleyman Demirel Organize Sanayi Bölgesi
    <br />
    Baladız Mah. 113. Cad. No: 2/A 32092 Güneykent/Gönen/ISPARTA
</font>
<h1 style="text-align: center">İletişim Bilgilerimiz</h1>
<font face="Helvetica" size="5">
    Tel : 0 246 214 71 58
    <br/>
    E-Posta : IsubuTknkService@isparta.edu.tr
</font>